certifi==2019.3.9
decorator==4.4.0
dlib==19.17.0
imageio==2.5.0
networkx==2.3
numpy==1.16.3
opencv-python==4.1.0.25
Pillow==6.0.0
PyWavelets==1.0.3
scikit-image==0.15.0
scipy==1.2.1
wincertstore==0.2
